.main-contents
  .main-contents__group
    .main-contents__group__text
      .main-contents__group__text__name
        グループ名
      .main-contents__group__text__user
        Member:モリゾー キッコロ
    .main-contents__group__edit
      = link_to "#"   do
        .main-contents__group__edit__btn
          Edit
  .main-contents__chat-space
  .main-contents__text-form