.side-bar
  .side-bar__user
    .side-bar__user__text
      .side-bar__user__text__name
        kazuki
      .side-bar__user__text__icon
        = link_to "#"  do
          = icon('far', 'edit', class: "side-bar__user__text__icon__btn")
        = link_to "#"   do
          = icon('fas', 'cog', class: "side-bar__user__text__icon__btn")  
  .side-bar__group-list